---
import { Image } from "astro:assets"
import nazar from "../../assets/testimonials/nazar.png"
import yuriy from "../../assets/testimonials/yuriy.jpg"
import vlad from "../../assets/testimonials/vlad.png"
import anna from "../../assets/testimonials/anna.jpg"
import soham from "../../assets/testimonials/soham.jpg"

const testimonials = [
  {
    name: "Yuriy Zaletskyy",
    img: yuriy,
    position: "CTO and Co-Founder, Acupower LTD",
    content: `Improved performance and accessibility, delivering results without 
    complications and ensuring a swift delivery.`,
  },
  {
    name: "Soham Adwani",
    img: soham,
    position: "Vice Admin, Otterdev",
    content: `I had the pleasure of working with you on a project that required 
    integrating Sanity CMS into an existing website. Your professionalism and 
    commitment to delivering high-quality work were evident throughout the entire 
    collaboration. Your communication skills were exceptional, consistently asking 
    insightful questions and taking the initiative to troubleshoot and solve challenges 
    independently. Your expertise and dedication to the project not only met but 
    exceeded our expectations. I would not hesitate to work with you again, and 
    I highly recommend your services to anyone seeking a reliable and skilled freelancer.`,
  },
  {
    name: "Vlad Syvorka",
    img: vlad,
    position: "Mentor, STEP IT Academy",
    content: `Thank you for your creative and professional approach to the Spentoday
    project. Your team demonstrated not only a high level of technical skills, but also
    the ability to bring something unique to the project. Your improvements and innovative
    elements gave the project freshness and originality.`,
  },
  {
    name: "Nazar Balaban",
    img: nazar,
    position: "Mentor, STEP IT Academy",
    content: `A diligent team that works at a professional level! They took into account all wishes
    in work, performed all tasks on time and without headaches! Very pleased with the
    cooperation with this team!`,
  },
  {
    img: anna,
    name: "Anna Zakharova",
    position: "Manager, STEP IT Academy",
    content: `I believe that the team's project serves as an excellent example of teamwork 
    and the high level of preparation. The project has the potential to be implemented 
    and meet market demand due to its relevance and modernity.`,
  },
]
---

<section class="py-20 md:py-28 px-6">
  <input
    type="checkbox"
    id="show-more-testimonials"
    checked={false}
    class="hidden"
    hidden
  />

  <div
    class="divide-y-2 border-2 rounded-input divide-dashed border-dashed border-secondary-300 divide-secondary-300"
  >
    {
      testimonials.map((x, i) => (
        <div class={`p-7 md:p-10 ${i > 2 ? "hidden-at-first" : ""}`}>
          <div class="flex items-center space-x-4">
            {x.img ? (
              <Image
                src={x.img}
                alt={x.name}
                width={168}
                height={168}
                class="w-14 h-14 rounded-full"
                quality={100}
              />
            ) : (
              <Fragment />
            )}
            <div>
              <h3 class="font-semibold">{x.name}</h3>
              <p class="text-base text-secondary-600">{x.position}</p>
            </div>
          </div>

          <p class="mt-6 text-xl">{x.content}</p>
        </div>
      ))
    }
  </div>

  <label
    for="show-more-testimonials"
    class="mx-auto mt-16 w-fit block py-4 px-6 bg-secondary-100 rounded-input
    hover:bg-secondary-200 cursor-pointer"
  >
    SEE MORE
  </label>
</section>

<style>
  .hidden-at-first {
    display: none;
  }

  #show-more-testimonials:checked + div > .hidden-at-first {
    display: block;
  }

  #show-more-testimonials:checked ~ label[for="show-more-testimonials"] {
    display: none;
  }
</style>
