---
import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import Layout from "../../layouts/Layout.astro"
import ContactSection from "../../features/contact/ContactSection.astro"

export const getStaticPaths = (async () => {
  const articles = await getCollection("articles")

  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }))
}) satisfies GetStaticPaths

const { article } = Astro.props
const { Content } = await article.render()
---

<Layout
  image={article.data.image}
  title={article.data.title}
  description={article.data.description}
>
  <section class="mb-16 md:mb-24">
    <h1
      class="font-serif text-5xl md:text-6xl text-wrap-balance font-medium leading-tight"
    >
      {article.data.title}
    </h1>
    <h2 class="text-wrap-balance text-2xl mt-6">
      {article.data.description}
    </h2>
  </section>

  <section class="md">
    <Content />
  </section>

  <ContactSection />
</Layout>

<style is:global>
  .md h3 {
    @apply text-4xl md:text-5xl font-serif font-medium mt-12 mb-5;
  }

  .md p {
    @apply text-secondary-600 my-5;
  }
  .md ul {
    @apply text-secondary-600 list-disc ml-4;
  }
  .md a {
    @apply text-primary-500 underline;
  }
  .md img {
    @apply border-8 border-primary-500/20 my-6;
  }
</style>
