---
import FiveStars from "../components/icons/FiveStars.astro"
import RightArrow from "../components/icons/RightArrow.astro"
import { Image } from "astro:assets"

import nazar from "../assets/testimonials/nazar.png"
import vlad from "../assets/testimonials/vlad.png"
import anna from "../assets/testimonials/anna.jpg"

const testimonials = [
  {
    id: "vlad",
    img: vlad,
    name: "Vlad Syvorka",
    position: "Mentor, STEP IT Academy",
    content: `"I want to thank you for your creative and professional approach to the Spentoday
    project. Your team demonstrated not only a high level of technical skills, but also
    the ability to bring something unique to the project. Your improvements and innovative
    elements gave the project freshness and originality. Your presentation was a
    convincing demonstration of your dedication and professionalism."`,
  },
  {
    id: "nazar",
    img: nazar,
    name: "Nazar Balaban",
    position: "Mentor, STEP IT Academy",
    content: `"A diligent team that works at a professional level! They took into account all wishes
    in work, performed all tasks on time and without comments! Very pleased with the
    cooperation with this team!"`,
  },
  {
    id: "anna",
    img: anna,
    name: "Anna Zakharova",
    position: "Education Manager, STEP IT Academy",
    content: `"I believe that the team's project serves as an excellent example of teamwork 
    and the high level of student preparation. The project has the potential to be implemented 
    and meet market demand due to its relevance and modernity. I consider this product to be an 
    excellent example of how students can showcase their knowledge and skills within the framework of a team project."`,
  },
]

const label =
  "absolute top-0 z-10 hidden pointer-events-none content-end md:place-content-center select-none"
const btn =
  "rounded-full w-12 h-12 border bg-white cursor-pointer grid place-content-center"
---

<div id="testimonial-wrapper" class="overflow-hidden relative py-20 md:py-28">
  {
    testimonials.map((x, i) => (
      <input
        type="radio"
        name="testimonial"
        class=" absolute "
        style={`left: ${i}rem;`}
        id={`testimonial-${x.id}`}
        checked={i === 0}
      />
    ))
  }

  <div
    id="testimonial-slides"
    class="flex w-full items-center transition-transform duration-500"
  >
    {
      testimonials.map((x) => (
        <div class="w-full flex-none m-auto px-6 md:px-40 break-words">
          <FiveStars class="mx-auto" />

          <p class="font-bold text-xl md:text-2xl my-8 text-center">{x.content}</p>

          <div class="mx-auto flex justify-center items-center gap-5">
            <Image
              src={x.img}
              class="rounded-full h-14 w-14"
              alt={x.name}
              densities={[1, 1.5, 2]}
              quality="max"
              width={56}
              height={56}
            />
            <div>
              <p class="font-semibold">{x.name}</p>
              <p>{x.position}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>

  {
    testimonials.map((x) => (
      <label for={`testimonial-${x.id}`} class={label}>
        <div class={btn}>
          <RightArrow />
        </div>
      </label>
    ))
  }
</div>

<style>
  /* 
    All styles can be constructed dynamically, 
    but Astro doesn't have built in addition to the head 
  */

  #testimonial-nazar:checked ~ #testimonial-slides {
    transform: translateX(-100%);
  }
  #testimonial-anna:checked ~ #testimonial-slides {
    transform: translateX(-200%);
  }

  :focus {
    padding: 100px;
    /* pointer-events: none; */
  }

  /* #testimonial-vlad:checked ~ label[for="testimonial-vlad"],
  #testimonial-nazar:checked ~ label[for="testimonial-nazar"],
  #testimonial-anna:checked ~ label[for="testimonial-anna"] {
    display: none;
  } */

  #testimonial-vlad:checked ~ label[for="testimonial-anna"],
  #testimonial-nazar:checked ~ label[for="testimonial-vlad"],
  #testimonial-anna:checked ~ label[for="testimonial-nazar"] {
    left: 1.5rem;
    bottom: 0;
    display: grid;
    pointer-events: all;
  }

  #testimonial-vlad:checked ~ label[for="testimonial-anna"] > div,
  #testimonial-nazar:checked ~ label[for="testimonial-vlad"] > div,
  #testimonial-anna:checked ~ label[for="testimonial-nazar"] > div {
    @apply rotate-180;
  }

  #testimonial-vlad:checked ~ label[for="testimonial-nazar"],
  #testimonial-nazar:checked ~ label[for="testimonial-anna"],
  #testimonial-anna:checked ~ label[for="testimonial-vlad"] {
    right: 1.5rem;
    bottom: 0;
    display: grid;
    pointer-events: all;
  }
</style>
