---
import { Image } from "astro:assets"

import { projects } from "."

import bidme from "../../assets/projects/bidme.png"
import roadtovostok from "../../assets/projects/roadtovostok.png"
import spentoday from "../../assets/projects/spentoday.png"
import thing from "../../assets/projects/thing.png"
import onest from "../../assets/projects/onest.png"
import RightArrow from "../../components/icons/RightArrow.astro"

export const projectImages = { bidme, roadtovostok, spentoday, thing, onest }

type Props = { latest?: boolean }
const { latest } = Astro.props
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-14">
  {
    (latest === true ? projects.slice(0, 2) : projects).map((x) => {
      const img = projectImages[x.slug]

      return (
        <div class="p-6 border-2 rounded-lg border-dashed border-secondary-300">
          <Image
            src={img}
            width={img.width * 2}
            height={img.height * 2}
            alt={x.name}
            quality={100}
            class="rounded-lg col-span-2"
          />

          <div class="flex justify-between items-baseline mt-8">
            <h4 class="text-2xl font-bold">{x.name}</h4>
            <div class="flex gap-2 items-center">
              {x.hasPage ? (
                <a href={`/portfolio/${x.slug}`} class="flex gap-2 items-center">
                  VIEW PROJECT
                  <RightArrow />
                </a>
              ) : (
                <span>Details coming soon</span>
              )}
            </div>
          </div>
          <p class="mt-2 text-secondary-600">{x.description}</p>
        </div>
      )
    })
  }
</section>
