---
import { Image } from "astro:assets"
import Layout from "../layouts/Layout.astro"
import ContactSection from "../features/contact/ContactSection.astro"
import TestimonialList from "../features/testimonials/TestimonialList.astro"

import appsolutsLogo from "../assets/works/appsoluts/logo.svg"
import acupowerLogo from "../assets/works/acupower/logo.svg"
import otterdevLogo from "../assets/works/otterdev/logo.svg"
import spentodayLogo from "../assets/works/spentoday/logo.svg"
import architectureLogo from "../assets/works/architecture-and-tradition/logo.svg"
import { getCollection } from "astro:content"

const works = [
  {
    link: "https://www.architectureandtradition.com",
    img: architectureLogo,
    name: "Architecture & Tradition",
    description:
      "Content website with CMS for 600k+ followers twitter account about Architecture and Tradition.",
  },
  {
    link: "/articles/seo-and-admin-panel-for-erp-company",
    img: acupowerLogo,
    name: "Acupower",
    description:
      "Rebuild landing/marketing website with SEO improvements. As well as fixed admin panel for managing content.",
  },
  {
    img: appsolutsLogo,
    name: "App Soluts",
    description:
      "New version of website for app development agency from Germany. Still in development, so can't share images yet.",
  },
  {
    img: otterdevLogo,
    name: "Otterdev",
    description:
      "Migrating content to Sanity CMS for several projects, in addition to frontend development.",
  },
  {
    link: "/works/spentoday",
    img: spentodayLogo,
    name: "Spentoday",
    description:
      "E-commerce platform for Ukrainian market, designed to be simple and fast. Developed from the ground.",
  },
]

const articles = await getCollection("articles")
---

<Layout
  title="Go-to team for software development and SEO"
  description="Established team of software developers. We help enterprise companies, content creators and startups to ship the web."
>
  <section class="mb-16 md:mb-24">
    <h1
      class="font-serif text-5xl md:text-6xl text-wrap-balance font-medium leading-tight"
    >
      Go-to team for software development and SEO
    </h1>
    <h2 class="text-wrap-balance text-2xl mt-6">
      Established team of software developers. We help enterprise companies, content
      creators and startups to ship the web.
    </h2>
  </section>

  <section class="my-16 md:my-24">
    <h3 class="text-4xl md:text-5xl font-serif font-medium mb-5">Works</h3>
    <p class="text-secondary-600 mb-6 text-xl">
      Here are the latest products and clients we worked with. Some of them have written
      story about development process or link to the website, so try to click on it!
    </p>

    <div class="flex flex-col gap-6">
      {
        works.map((work) => {
          return work.link ? (
            <a
              href={work.link}
              target={work.link.startsWith("http") ? "_blank" : "_self"}
              class="flex gap-6 md:gap-8 flex-col md:flex-row items-start p-8 border border-secondary-200 bg-white transition-colors hover:border-primary-500 duration-500"
            >
              <Image class=" w-16 h-auto" src={work.img} alt={`${work.name} logo`} />
              <div class="">
                <h4 class="text-xl font-medium mb-1">{work.name}</h4>
                <p class="text-secondary-600">{work.description}</p>
              </div>
            </a>
          ) : (
            <div class="flex gap-6 md:gap-8 flex-col md:flex-row items-start p-8 border border-secondary-200 bg-white ">
              <Image class=" w-16 h-auto" src={work.img} alt={`${work.name} logo`} />
              <div class="">
                <h4 class="text-xl font-medium mb-1">{work.name}</h4>
                <p class="text-secondary-600">{work.description}</p>
              </div>
            </div>
          )
        })
      }
    </div>
  </section>

  <section class="my-16 md:my-24">
    <h3 class="text-4xl md:text-5xl font-serif font-medium mb-5">Articles</h3>
    <p class="text-xl text-secondary-600 mb-10">
      Sometimes we write articles about products we worked on or our opinions of certain
      technologies.
    </p>

    <div class="divide-y bg-white border border-secondary-200 divide-secondary-200">
      {
        articles.map((article) => (
          <a
            href={`/articles/${article.slug}`}
            class="p-7 md:p-10 flex flex-col-reverse md:flex-row justify-between gap-4"
          >
            <div>
              <h4>{article.data.title}</h4>
              <p class="text-secondary-600 mt-1">{article.data.description}</p>
            </div>
            <p class="text-secondary-600 min-w-max">{article.data.date}</p>
          </a>
        ))
      }
    </div>
  </section>

  <section class="my-16 md:my-24">
    <h3 class="text-4xl md:text-5xl font-medium font-serif mb-5">Pricing</h3>
    <p class="text-secondary-600 text-xl">
      Software differs a lot and we can't exactly predict how much time it will take to
      develop. That's why pricing will be different for each client. Most of the time we
      charge based on hours or weekly payments, but we are ready to hear your propositions
      as well.
    </p>

    <a class="bg-primary-500 text-white py-3 px-5 inline-block mt-10" href="/#contact"
      >Ask for estimations {"->"}</a
    >
  </section>

  <ContactSection />

  <TestimonialList />
</Layout>
