---
import { Image } from "astro:assets"

import Layout from "../layouts/Layout.astro"
import ContactSection from "../features/contact/ContactSection.astro"
import Solutions from "../components/landing/Solutions.astro"
import TeamBenefits from "../components/landing/TeamBenefits.astro"
import Projects from "../features/projects/Projects.astro"
import ImageCta from "../components/ImageCta.astro"

import heroImg from "../assets/hero.png"
import maria from "../assets/team/maria.png"
import roman from "../assets/team/roman.png"
import vitalii from "../assets/team/vitalii.png"
import dima from "../assets/team/dima.png"
import nazar from "../assets/testimonials/nazar.png"

const team = [
  {
    slug: "koshchei",
    img: roman,
    name: "Roman Koshchei",
    position: "Founder - Team Lead",
    about:
      "Make important decisions, manage team. Speak with clients to deliver best results.",
  },
  {
    slug: "lytvynenko",
    img: vitalii,
    name: "Vitalii Lytvynenko",
    position: "Core full stack developer",
    about: "Implements client-server interaction and performs bug inspections.",
  },
  {
    slug: "shcherbak",
    img: maria,
    name: "Mariia Shcherbak",
    position: "Full stack developer",
    about: "Focusing on frontend interactions, animations and responsive layouts.",
  },
  {
    slug: "fluid",
    img: dima,
    name: "Dmytro Fliud",
    position: "Coder",
    about:
      "Write a lot of boilerplate code. Searching for tasks, need a bit of supervision.",
  },
]

const techStack = [
  {
    group: "Languages",
    items: ["C#", "TypeScript", "JavaScript"],
  },
  {
    group: "Frontend",
    items: ["Svelte", "Astro", "Tailwind"],
  },
  {
    group: "Backend",
    items: ["ASP NET Core"],
  },
  {
    group: "Deployments",
    items: ["Fly.io", "Vercel", "CockroachDB"],
  },
  {
    group: "Design & Collaboration",
    items: ["GitHub", "Figma"],
  },
  {
    group: "AI",
    items: ["Relume", "Fooocus"],
  },
]
---

<Layout title="Flurium" description="Web development team">
  <section class="py-20 md:py-28 grid grid-cols-1 md:grid-cols-2 gap-20">
    <div class="place-self-center">
      <h1 class="font-bold text-6xl">Ideas into Digital Solutions</h1>
      <h2 class="mt-6 mb-10 text-gray-800">
        Flurium is a web development agency dedicated to creating exceptional user
        experiences through the use of modern technologies. Our team of experts combines
        creativity and technical expertise to deliver high-performing websites, web apps,
        and APIs that drive results.
      </h2>
      <div class="flex gap-4">
        <a href="/#contact" class="py-3 px-6 bg-black text-white rounded">CONTACT</a>
        <a href="/portfolio" class="py-3 px-6 border-black border rounded">
          SEE PORTFOLIO
        </a>
      </div>
    </div>
    <Image
      src={heroImg}
      loading="eager"
      alt={"Sun shining on top of mountain showing success"}
      class="rounded-xl w-full md:order-first"
      quality={100}
    />
  </section>

  <Solutions />

  <section class="py-20 md:py-28">
    <div class="text-center">
      <p>Portfolio</p>
      <h3 class="text-5xl font-bold mt-4 mb-6">Discover Our Projects</h3>
      <p>
        Our portfolio provides clear evidence of our skills and experience in web
        development.
      </p>
    </div>

    <Projects latest />
  </section>

  <section class="py-20 md:py-28 max-w-4xl m-auto">
    <svg
      class="mx-auto"
      xmlns="http://www.w3.org/2000/svg"
      width="116"
      height="20"
      viewBox="0 0 116 20"
      fill="none"
    >
      <path
        d="M9.07088 0.766152C9.41462 -0.0503068 10.5854 -0.0503057 10.9291 0.766154L12.9579 5.58504C13.1029 5.92924 13.4306 6.16442 13.8067 6.19421L19.0727 6.61129C19.9649 6.68195 20.3267 7.78194 19.6469 8.35721L15.6348 11.7525C15.3482 11.995 15.223 12.3756 15.3106 12.7381L16.5363 17.8148C16.744 18.6749 15.7969 19.3548 15.033 18.8939L10.5245 16.1734C10.2025 15.979 9.7975 15.979 9.47548 16.1734L4.96699 18.8939C4.20311 19.3548 3.25596 18.6749 3.46363 17.8148L4.68942 12.7381C4.77698 12.3756 4.65182 11.995 4.36526 11.7525L0.353062 8.35721C-0.326718 7.78194 0.0350679 6.68195 0.927291 6.61129L6.19336 6.19421C6.5695 6.16442 6.89716 5.92924 7.04207 5.58504L9.07088 0.766152Z"
        fill="#6366F1"></path>
      <path
        d="M33.0708 0.766152C33.4146 -0.0503067 34.5853 -0.0503056 34.9291 0.766154L36.9578 5.58504C37.1028 5.92924 37.4305 6.16442 37.8066 6.19421L43.0726 6.61129C43.9648 6.68195 44.3266 7.78194 43.6468 8.35721L39.6347 11.7525C39.3482 11.995 39.2229 12.3756 39.3105 12.7381L40.5363 17.8148C40.7439 18.6749 39.7968 19.3548 39.033 18.8939L34.5245 16.1734C34.2024 15.979 33.7975 15.979 33.4754 16.1734L28.9669 18.8939C28.2031 19.3548 27.2559 18.6749 27.4636 17.8148L28.6894 12.7381C28.7769 12.3756 28.6518 11.995 28.3652 11.7525L24.353 8.35721C23.6732 7.78194 24.035 6.68195 24.9272 6.61129L30.1933 6.19421C30.5695 6.16442 30.8971 5.92924 31.042 5.58504L33.0708 0.766152Z"
        fill="#6366F1"></path>
      <path
        d="M57.0708 0.766152C57.4145 -0.0503067 58.5853 -0.0503056 58.929 0.766154L60.9578 5.58504C61.1028 5.92924 61.4305 6.16442 61.8066 6.19421L67.0726 6.61129C67.9648 6.68195 68.3266 7.78194 67.6468 8.35721L63.6347 11.7525C63.3481 11.995 63.2229 12.3756 63.3105 12.7381L64.5362 17.8148C64.7439 18.6749 63.7968 19.3548 63.0329 18.8939L58.5244 16.1734C58.2024 15.979 57.7974 15.979 57.4754 16.1734L52.9669 18.8939C52.203 19.3548 51.2559 18.6749 51.4635 17.8148L52.6893 12.7381C52.7769 12.3756 52.6517 11.995 52.3652 11.7525L48.353 8.35721C47.6732 7.78194 48.035 6.68195 48.9272 6.61129L54.1933 6.19421C54.5694 6.16442 54.8971 5.92924 55.042 5.58504L57.0708 0.766152Z"
        fill="#6366F1"></path>
      <path
        d="M81.0707 0.766152C81.4145 -0.0503067 82.5852 -0.0503056 82.929 0.766154L84.9577 5.58504C85.1027 5.92924 85.4304 6.16442 85.8065 6.19421L91.0725 6.61129C91.9647 6.68195 92.3265 7.78194 91.6467 8.35721L87.6346 11.7525C87.3481 11.995 87.2228 12.3756 87.3104 12.7381L88.5362 17.8148C88.7438 18.6749 87.7967 19.3548 87.0328 18.8939L82.5244 16.1734C82.2023 15.979 81.7973 15.979 81.4753 16.1734L76.9668 18.8939C76.203 19.3548 75.2558 18.6749 75.4635 17.8148L76.6893 12.7381C76.7768 12.3756 76.6517 11.995 76.3651 11.7525L72.3529 8.35721C71.6731 7.78194 72.0349 6.68195 72.9271 6.61129L78.1932 6.19421C78.5693 6.16442 78.897 5.92924 79.0419 5.58504L81.0707 0.766152Z"
        fill="#6366F1"></path>
      <path
        d="M105.071 0.766152C105.414 -0.0503067 106.585 -0.0503056 106.929 0.766154L108.958 5.58504C109.103 5.92924 109.43 6.16442 109.806 6.19421L115.072 6.61129C115.965 6.68195 116.326 7.78194 115.647 8.35721L111.635 11.7525C111.348 11.995 111.223 12.3756 111.31 12.7381L112.536 17.8148C112.744 18.6749 111.797 19.3548 111.033 18.8939L106.524 16.1734C106.202 15.979 105.797 15.979 105.475 16.1734L100.967 18.8939C100.203 19.3548 99.2558 18.6749 99.4634 17.8148L100.689 12.7381C100.777 12.3756 100.652 11.995 100.365 11.7525L96.3529 8.35721C95.6731 7.78194 96.0349 6.68195 96.9271 6.61129L102.193 6.19421C102.569 6.16442 102.897 5.92924 103.042 5.58504L105.071 0.766152Z"
        fill="#6366F1"></path>
    </svg>

    <p class="font-bold text-2xl my-8 text-center">
      "A diligent team that works at a professional level! She took into account all
      wishes in her work, performed all tasks on time and without comments! Very pleased
      with the cooperation with this team!"
    </p>

    <div class="mx-auto flex justify-center items-center gap-5">
      <Image
        src={nazar}
        class="rounded-full h-14 w-14"
        alt="Nazar"
        quality="max"
        width={56}
        height={56}
      />
      <div>
        <p class="font-semibold">Nazar Balaban</p>
        <p>Mentor, STEP IT Academy</p>
      </div>
    </div>
  </section>

  <ContactSection />

  <TeamBenefits />

  <section class="py-20 md:py-28" id="team">
    <h3 class="font-bold text-5xl">Our Team</h3>
    <p class="mt-6 mb-20">
      Work with people, not layers of management. Be in reliable and fast interactions.
    </p>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      {
        team.map((x) => (
          <div>
            <Image
              src={x.img}
              width={80}
              height={80}
              alt={x.name}
              class="rounded-full h-20 w-20"
              quality={100}
            />
            <p class="font-semibold text-xl mt-6">{x.name}</p>
            <p class="text-lg mt-1">{x.position}</p>
            <p class="mt-4 mb-6">{x.about}</p>
            <a href={`/team/${x.slug}`}>LEARN MORE {">"}</a>
          </div>
        ))
      }
    </div>
  </section>

  <section class="py-20 md:py-28">
    <h3 class="text-5xl font-bold">Tech Stack</h3>
    <p class="mt-4">
      Primary technologies we use and push in development. Always expanded over time and
      projects.
    </p>

    <table class="table-auto w-full border-collapse mt-6 text-left">
      {
        techStack.map((x) => (
          <tr class="border-y border-gray-200">
            <td class="p-7 font-semibold">{x.group}</td>
            <td class="p-7 flex flex-col md:flex-row gap-8">
              {x.items.map((item) => (
                <span>{item}</span>
              ))}
            </td>
          </tr>
        ))
      }
    </table>
  </section>

  <ImageCta />
</Layout>
