---
import { Image } from "astro:assets"

import Layout from "../layouts/Layout.astro"
import ContactSection from "../features/contact/ContactSection.astro"
import Solutions from "../components/landing/Solutions.astro"
import TeamBenefits from "../components/landing/TeamBenefits.astro"
import Projects from "../features/projects/Projects.astro"
import ImageCta from "../components/ImageCta.astro"

import heroImg from "../assets/hero.png"
import maria from "../assets/team/maria.png"
import roman from "../assets/team/roman.png"
import vitalii from "../assets/team/vitalii.png"
import dima from "../assets/team/dima.png"
import BestPerformance from "../components/landing/BestPerformance.astro"
import TestTestimonial from "../features/TestTestimonial.astro"
import TestCarousel from "../features/TestCarousel.astro"
import Testimonial from "../features/Testimonial.astro"
import vlad from "../assets/testimonials/vlad.png"
import nazar from "../assets/testimonials/nazar.png"

const team = [
  {
    slug: "koshchei",
    img: roman,
    name: "Roman Koshchei",
    position: "Founder - Team Lead",
    about:
      "Make important decisions, manage team. Speak with clients to deliver best results.",
  },
  {
    slug: "lytvynenko",
    img: vitalii,
    name: "Vitalii Lytvynenko",
    position: "Core full stack developer",
    about: "Implements client-server interaction and performs bug inspections.",
  },
  {
    slug: "shcherbak",
    img: maria,
    name: "Mariia Shcherbak",
    position: "Full stack developer",
    about: "Focusing on frontend interactions, animations and responsive layouts.",
  },
  {
    slug: "fluid",
    img: dima,
    name: "Dmytro Fliud",
    position: "Coder",
    about:
      "Write a lot of boilerplate code. Searching for tasks, need a bit of supervision.",
  },
]

const techStack = [
  {
    group: "Languages",
    items: ["C#", "TypeScript", "JavaScript"],
  },
  {
    group: "Frontend",
    items: ["Svelte", "Astro", "Tailwind"],
  },
  {
    group: "Backend",
    items: ["ASP NET Core"],
  },
  {
    group: "Deployments",
    items: ["Fly.io", "Vercel", "CockroachDB"],
  },
  {
    group: "Design & Collaboration",
    items: ["GitHub", "Figma"],
  },
  {
    group: "AI",
    items: ["Relume", "Fooocus"],
  },
]
---

<Layout title="Flurium" description="Web development team">
  <section class="py-20 md:py-28 grid grid-cols-1 md:grid-cols-2 gap-20">
    <div class="place-self-center">
      <h1 class="font-bold text-6xl">Ideas into Digital Solutions</h1>
      <h2 class="mt-6 mb-10 text-gray-800">
        Flurium is a web development agency dedicated to creating exceptional user
        experiences through the use of modern technologies. Our team of experts combines
        creativity and technical expertise to deliver high-performing websites, web apps,
        and APIs that drive results.
      </h2>
      <div class="flex gap-4">
        <a
          href="/#contact"
          class="py-3 px-6 bg-black text-white rounded"
          data-umami-event="Hero Contact"
        >
          CONTACT
        </a>
        <a
          data-umami-event="Hero Portfolio"
          href="/portfolio"
          class="py-3 px-6 border-black border rounded"
        >
          SEE PORTFOLIO
        </a>
      </div>
    </div>
    <Image
      src={heroImg}
      loading="eager"
      alt={"Sun shining on top of mountain showing success"}
      class="rounded-xl w-full md:order-first"
      quality={100}
    />
  </section>

  <Solutions />

  <TeamBenefits />

  <BestPerformance />

  <!-- <TestimonialCarousel /> -->

  <!-- <TestCarousel /> -->

  <!-- <TestTestimonial /> -->

  <Testimonial img={vlad} person="Vlad Syvorka" position="Mentor, STEP IT Academy">
    "I want to thank you for your creative and professional approach to the Spentoday
    project. Your team demonstrated not only a high level of technical skills, but also
    the ability to bring something unique to the project. Your improvements and innovative
    elements gave the project freshness and originality. Your presentation was a
    convincing demonstration of your dedication and professionalism."
  </Testimonial>

  <section class="py-20 md:py-28">
    <div class="text-center">
      <p>Portfolio</p>
      <h3 class="text-5xl font-bold mt-4 mb-6">Discover Our Projects</h3>
      <p>
        Our portfolio provides clear evidence of our skills and experience in web
        development.
      </p>
    </div>

    <Projects latest />

    <div class="text-center pt-16">
      <a
        href="/portfolio"
        class="rounded py-3 px-6 border border-black inline-block"
        data-umami-event="Portfolio View All"
      >
        VIEW ALL
      </a>
    </div>
  </section>

  <Testimonial img={nazar} person="Nazar Balaban" position="Mentor, STEP IT Academy">
    "A diligent team that works at a professional level! They took into account all wishes
    in work, performed all tasks on time and without comments! Very pleased with the
    cooperation with this team!"
  </Testimonial>

  <ContactSection />

  <section class="py-20 md:py-28" id="team">
    <h3 class="font-bold text-5xl">Our Team</h3>
    <p class="mt-6 mb-20">
      Work with people, not layers of management. Be in reliable and fast interactions.
    </p>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      {
        team.map((x) => (
          <div>
            <Image
              src={x.img}
              width={80}
              height={80}
              alt={x.name}
              class="rounded-full h-20 w-20"
              quality={100}
            />
            <p class="font-semibold text-xl mt-6">{x.name}</p>
            <p class="text-lg mt-1">{x.position}</p>
            <p class="mt-4 mb-6">{x.about}</p>
            {/* <a href={`/team/${x.slug}`}>LEARN MORE {">"}</a> */}
          </div>
        ))
      }
    </div>
  </section>

  <section class="py-20 md:py-28">
    <h3 class="text-5xl font-bold">Tech Stack</h3>
    <p class="mt-4">
      Primary technologies we use and push in development. Always expanded over time and
      projects.
    </p>

    <table class="table-auto w-full border-collapse mt-6 text-left">
      {
        techStack.map((x) => (
          <tr class="border-y border-gray-200">
            <td class="p-7 font-semibold">{x.group}</td>
            <td class="p-7 flex flex-col md:flex-row gap-8">
              {x.items.map((item) => (
                <span>{item}</span>
              ))}
            </td>
          </tr>
        ))
      }
    </table>
  </section>

  <ImageCta />
</Layout>
