---
import { Image } from "astro:assets"
import Layout from "../../../layouts/Layout.astro"
import ImageCta from "../../../components/ImageCta.astro"
import SpentodayLogo from "../../../features/projects/SpentodayLogo.astro"
import main_img from "../../../assets/projects/spentoday.png"
import img1 from "../../../assets/projects/screenshots/screen1.jpg"
import img2 from "../../../assets/projects/screenshots/screen2.jpg"
import img3 from "../../../assets/projects/screenshots/screen3.jpg"
import img4 from "../../../assets/projects/screenshots/screen4.jpg"
---

<Layout
  title="Our work | Spentoday"
  description="Ukrainian e-commerce platform. Create your online shop fast and simple. No complexity, no hiring designers, no ton of services."
>
  <section class="py-20 md:py-28 gap-20" id="title">
    <div class="flex items-center justify-center">
      <SpentodayLogo class="w-9 h-[38px] mr-3" />
      <h1 class="font-bold text-4xl text-center">SPENTODAY</h1>
    </div>

    <h2 class="my-6 mx-auto text-center max-w-3xl">
      Ukrainian e-commerce platform. Create your online shop fast and simple. No
      complexity, no hiring designers, no ton of services.
    </h2>

    <div class="flex items-center gap-4 justify-center text-xs">
      <div class="rounded-sm bg-gray-100 py-1 px-2">Web</div>
      <div class="rounded-sm bg-gray-100 py-1 px-2">E-commerce</div>
      <div class="rounded-sm bg-gray-100 py-1 px-2">Brand</div>
    </div>

    <div class="mt-20">
      <Image src={main_img} alt="benefits" class="rounded-xl w-full" quality={100} />
    </div>
  </section>

  <section class="py-20 md:py-28 grid grid-cols-1 md:grid-cols-2 gap-20" id="description">
    <div class="md:order-first">
      <h3 class="font-bold text-4xl">About the project</h3>
    </div>
    <div class="place-self-center">
      <p class="mb-10 text-gray-800">
        Access an easy-to-use tool designed for the Ukrainian market, making it simple to
        create personalized online stores effortlessly.
      </p>
      <p class="mb-10 text-gray-800">
        Benefit from the advantage of a fast and easy start to your online business.
        Spentoday streamlines the process, keeping it straightforward and clear.
      </p>
      <p class="mb-10 text-gray-800">
        Enjoy the advantage of a pleasant and efficient user interface. It's tailored to
        meet the needs of entrepreneurs and creative individuals in e-commerce, ensuring
        an enjoyable and productive interaction with the service.
      </p>

      <div class="flex border-t border-gray-200 justify-between mt-2">
        <span class="my-6 font-semibold">Date</span>
        <span class="my-6">Q3-Q4 2023</span>
      </div>
      <div class="flex border-t border-gray-200 justify-between">
        <span class="my-6 font-semibold">GitHub</span>
        <a
          class="py-6 hover:underline decoration-indigo-300 cursor-pointer"
          href="https://github.com/flurium/spentoday"
        >
          github.com/flurium/spentoday
        </a>
      </div>
      <div class="flex border-y border-gray-200 justify-between">
        <span class="my-6 font-semibold">Website</span>
        <a
          class="py-6 hover:underline decoration-indigo-300 cursor-pointer"
          href="https://www.spentoday.com/"
        >
          spentoday.com
        </a>
      </div>
    </div>
  </section>
  <section id="video">
    <div class="mt-[15px] md:mt-[30px] flex justify-center items-center relative">
      <iframe
        class="w-full aspect-video
        lg:hover:rounded-bl-xl rounded-xl transition-all"
        src="https://www.youtube.com/embed/5OAzOoMlUQM?si=GOnjbiEOblz_XtgT"
        title="Spentoday промо"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
        gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </section>

  <section class="py-20 md:py-28 gap-20" id="description_extended">
    <p class="mb-10 text-gray-800">
      Spentoday emerges as a singular gem in the landscape of the Ukrainian market,
      offering a revolutionary approach to online entrepreneurship. This distinctive
      platform encapsulates the essence of simplicity, seamlessly guiding individuals
      through the process of creating and personalizing their online stores. At its core,
      Spentoday is an embodiment of user-friendliness. Its intuitive interface stands as a
      testament to the platform's commitment to accessibility. Even those with limited
      technical prowess find themselves empowered to navigate the complexities of online
      business with ease, concentrating on their products rather than grappling with
      intricate technicalities.
    </p>

    <p class="mb-10 text-gray-800">
      What sets Spentoday apart is its rapid deployment capabilities. Entrepreneurs can
      swiftly transform their visions into reality with a streamlined setup process. This
      efficiency not only saves invaluable time but also lowers barriers to entry, opening
      doors for a diverse array of individuals to partake in the burgeoning world of
      e-commerce. A notable feature is Spentoday's keen understanding of the Ukrainian
      market. Tailoring its functionalities to align with local preferences, the platform
      ensures that businesses seamlessly integrate into the cultural tapestry of Ukraine.
      This localized approach enhances Spentoday's relevance and resonance, solidifying
      its position as a uniquely Ukrainian solution.
    </p>
    <p class="mb-10 text-gray-800">
      Affordability is a key facet of Spentoday's appeal. Recognizing the financial
      constraints often associated with entrepreneurial endeavors, the platform provides
      cost-effective solutions without compromising quality. This commitment democratizes
      access to robust e-commerce tools, making Spentoday an inclusive catalyst for
      business innovation. In essence, Spentoday transcends the conventional, emerging as
      a beacon of innovation and accessibility in the Ukrainian market. Its user-centric
      design, swift deployment capabilities, localization, and cost-effectiveness
      collectively position Spentoday as a transformative force, paving the way for a new
      era of online entrepreneurship in Ukraine.
    </p>
  </section>

  <section class="py-20 md:py-28 grid grid-cols-1 md:grid-cols-2 gap-20" id="screenshots">
    <div>
      <Image src={img3} alt="benefits" class="rounded-xl w-full" quality={100} />
    </div>
    <div>
      <Image src={img4} alt="benefits" class="rounded-xl w-full" quality={100} />
    </div>
    <div class="md:col-span-2">
      <Image src={img1} alt="benefits" class="rounded-xl w-full" quality={100} />
    </div>
    <div class="md:col-span-2">
      <Image src={img2} alt="benefits" class="rounded-xl w-full" quality={100} />
    </div>
  </section>
  <ImageCta />
</Layout>
