---
import Link from "./nav/Link.svelte"
import { Image } from "astro:assets"

type Props = {
  status: string
  name: string
  banner: string
  github: string
  website: string
  description: string
}

const { name, banner, status, github, website, description } = Astro.props
---

<div class="border-b border-secondary-300 col-span-full" />

<Image
  width={800}
  height={450}
  src={banner}
  alt={`${name} banner`}
/>

<div class="p-8 rounded-md flex flex-col justify-center">
  <div class="flex justify-between items-center">
    <h4 class="text-3xl font-bold">{name}</h4>
    <small class="text-gray-500">{status}</small>
  </div>

  <p class="mt-4 mb-6">{description}</p>
  
  <div class="flex gap-4">
    <Link href={github} external>GitHub</Link>
    <Link href={website} external>Website</Link>
  </div>
</div>
