---
import Link from "./Link.svelte"

type Props = {
  name: string
  banner: string
  github: string
  website: string
  description: string
}

const { name, banner, github, website, description } = Astro.props
---

<div class="rounded-xl overflow-hidden grid grid-cols-1 md:grid-cols-2 gap-1">
  <img class="rounded-md" src={banner} />
  <div class="bg-white p-8 rounded-md flex flex-col">
    <div class="flex-1">
      <h4 class="text-3xl font-bold">{name}</h4>
      <p class="mt-4">{description}</p>
    </div>

    <div class="flex gap-4">
      <Link href={github} external>GitHub</Link>
      <Link href={website} external>Website</Link>
    </div>
  </div>
</div>
