---
import Link from "./nav/Link.svelte"
import { Image } from "astro:assets"

type Props = {
  status: string
  name: string
  banner: string
  github: string
  website: string
  description: string
}

const { name, banner, status, github, website, description } = Astro.props
---

<div
  class="rounded-xl overflow-hidden grid grid-cols-1 lg:grid-cols-2 gap-1 content-start"
>
  <Image
    width={800}
    height={450}
    format="png"
    class="rounded-md"
    src={banner}
    alt={`${name} banner`}
  />
  <div class="bg-white p-8 rounded-md flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <h4 class="text-3xl font-bold">{name}</h4>
      <small class="text-gray-500">{status}</small>
    </div>
    <p class="flex-1">{description}</p>
    <div class="flex gap-4">
      <Link href={github} external>GitHub</Link>
      <Link href={website} external>Website</Link>
    </div>
  </div>
</div>
