---
import Layout from "../../layouts/Layout.astro"
import Project from "../../components/Project.astro"
import Member from "../../components/Member.astro"
import Link from "../../components/nav/Link.svelte"
import Logo from "../../components/Logo.astro"
import ContactForm from "../../components/ContactForm.svelte"
import { getLang, staticIndex, getStaticPaths } from "../../translations"

export { getStaticPaths }
const lang = getLang(Astro.params)
const t = staticIndex[lang]
---

<Layout lang={lang} title={t.meta.title} description={t.meta.description}>
  <!-- Introduction section -->
  <section class="py-24 md:py-36 text-center">
    <h1 class="text-5xl sm:text-7xl font-bold">
      {t.introduction.header.start}
      <span>{t.introduction.header.bold}</span>
      {t.introduction.header.end}
    </h1>
    <h2 class="text-xl sm:text-2xl max-w-3xl m-auto leading-relaxed mt-8 mb-12">
      {t.introduction.about}
    </h2>

    <div class="flex gap-4 items-center justify-center">
      <a
        href={`/${lang}/#contact`}
        class="py-4 px-6 font-semibold hover:bg-primary-600 hover:border-primary-600
        rounded-md bg-primary-500 text-white border-2 border-primary-500"
      >
        {t.introduction.action.contact}
      </a>
      <a 
        class="py-4 px-6 font-semibold rounded-md 
        border-2 text-primary-500 border-primary-500" 
        href={`/${lang}/#our-work`}
      >
        {t.introduction.action.seeWork}
      </a>
    </div>
  </section>

  <!-- Work section -->
  <section class="py-24 md:py-36" id="our-work">
    <p>Portfolio</p>  
    
    <h3 class="text-5xl font-bold mb-6 mt-4">{t.work.header}</h3>
    <p>{t.work.subheader}</p>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-12 mt-12">
      {t.work.projects.map((project) => <Project {...project} />)}
    </div>
  </section>

  <!-- Contact section -->
  <section id="contact" class="py-24 md:py-36">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 lg:gap-20">

      <div 
        class="bg-primary-500 grid place-content-center md:order-2
        aspect-video md:aspect-auto rounded"
      >
        <Logo className='w-32 md:w-40 h-auto'/>
      </div>

      <div>
        <p>Get Started</p>
        
        <h3 class="text-5xl font-bold mt-4 mb-6">{t.contact.header}</h3>
        <p class="mb-10">{t.contact.subheader}</p>

        <ContactForm t={t.contact.form} client:visible />
      </div>

    </div>
  </section>

  <!-- Team section -->
  <section id="team" class="py-24 md:py-36">

    <h3 class="text-5xl font-bold mb-12">{t.team.header}</h3>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8">
      {
        t.team.members.map((member) => (
          <Member name={member.name} img={member.img} role={member.role} />
        ))
      }
    </div>
  </section>

  <section class="py-24 md:py-36 grid grid-cols-1 md:grid-cols-2 gap-8">
    <h3 class="text-5xl font-bold place-self-center">
      {t.cta.header}
    </h3>

    <div>
      <p class="mb-6">
        {t.cta.content}  
      </p>
      <a href={`/${lang}/#contact`} class="px-6 py-3 bg-primary-500 inline-block text-white rounded">
        {t.cta.button}
      </a>
    </div>

  </section>
</Layout>
