---
import Layout from "../../layouts/Layout.astro"
import Footer from "../../components/nav/Footer.astro"
import Project from "../../components/Project.astro"
import Member from "../../components/Member.astro"
import Link from "../../components/nav/Link.svelte"
import ContactForm from "../../components/ContactForm.svelte"
import Navbar from "../../components/nav/Navbar.astro"
import {
  getLang,
  navbarTranslation,
  staticIndex,
  getStaticPaths,
} from "../../translations"
export { getStaticPaths }
const lang = getLang(Astro.params)
const t = staticIndex[lang]
const navbarT = navbarTranslation[lang]
---

<Layout title={t.meta.title} description={t.meta.description}>
  <Navbar t={navbarT} />

  <main>
    <!-- Introduction section -->
    <section class="pb-20 pt-12 sm:pt-20 m-auto px-6 max-w-4xl">
      <h1 class="text-5xl sm:text-6xl font-extrabold">{t.introduction.header}</h1>
      <p class="text-2xl leading-relaxed mt-12">
        {t.introduction.about.benefits}
        <Link href="#">{t.introduction.about.api}</Link>,
        <Link href="#">{t.introduction.about.fullstack}</Link>,
        <Link href="#">{t.introduction.about.static}</Link>.
        {t.introduction.about.tech}
      </p>
      <p class="text-2xl leading-relaxed mt-4 mb-12">
        {t.introduction.engagingParagraph}
      </p>

      <div class="flex gap-4 items-center">
        <a href="#contact" class="py-2 px-4 rounded-md bg-violet-400 text-white">
          {t.introduction.action.contact}
        </a>
        <span>{t.introduction.action.or}</span>
        <Link href="#our-work">{t.introduction.action.seeWork}</Link>
      </div>
    </section>

    <!-- Work section -->
    <section class="py-20 bg-zinc-100" id="our-work">
      <div class="m-auto px-6 max-w-screen-xl">
        <h2 class="text-5xl font-bold mb-4 text-center">{t.work.header}</h2>
        <h3 class="text-2xl text-center">{t.work.subheader}</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4 lg:gap-12 mt-12">
          {
            t.work.projects.map((project) => (
              <Project
                name={project.name}
                banner={project.banner}
                github={project.github}
                website={project.website}
                description={project.description}
              />
            ))
          }
        </div>
      </div>
    </section>

    <!-- Contact section -->
    <section id="contact" class="py-20 m-auto px-6 max-w-screen-lg">
      <h2 class="text-5xl font-bold mb-4 text-center">{t.contact.header}</h2>
      <p class="text-2xl mb-12 text-center">{t.contact.subheader}</p>
      <ContactForm t={t.contact.form} client:visible />
    </section>

    <!-- Team section -->
    <section id="team" class="py-20 bg-zinc-100">
      <div class="m-auto px-6 max-w-screen-xl">
        <h2 class="text-5xl font-bold mb-8">{t.team.header}</h2>

        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8">
          {
            t.team.members.map((member) => (
              <Member name={member.name} img={member.img} role={member.role} />
            ))
          }
        </div>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
