---
import type { Language, NavbarTranslation } from "../translations"
import Footer from "../components/nav/Footer.astro"
import Navbar from "../components/nav/Navbar.astro"

export interface Props {
  title: string
  description: string
  lang: Language
}

const url = Astro.url.href
const { lang, title, description } = Astro.props
---

<!DOCTYPE html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Flurium" />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.flurium.com/og-image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={lang} />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
  </head>
  <body class="text-lg selection:bg-primary-300 selection:bg-opacity-75">
    <Navbar lang={lang} />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
