---
import type { Language, NavbarTranslation } from "../translations"
import Footer from "../components/nav/Footer.astro"
import Navbar from "../components/nav/Navbar.astro"

export interface Props {
  title: string
  description: string
  lang: Language
  navbarTranslation: NavbarTranslation
}

const { lang, title, description, navbarTranslation } = Astro.props
---

<!DOCTYPE html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.flurium.com/og-image.png" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={lang} />
  </head>
  <body class="text-lg selection:bg-primary-300 selection:bg-opacity-75">
    <Navbar lang={lang} />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
