---
import Navbar from "../components/nav/Navbar.astro"

interface Props {
  title: string
  description: string
}

const url = Astro.url.href
const { title, description } = Astro.props

const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <title>{title}</title>
    <meta name="description" content={description} />

    {
      isProd ? (
        <script
          is:inline
          async
          src="https://eu.umami.is/script.js"
          data-website-id="ef4d8def-1065-4e15-a93b-63f7cc790184"
        />
      ) : (
        <Fragment />
      )
    }
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content={title} />
    <meta property="og:site_name" content="Flurium" />
    <meta property="og:url" content={url} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://www.flurium.com/og.png" />
    <meta property="og:type" content="website" />
    <meta
      name="keywords"
      content={`web, development, web development, app development, application, 
      agency, seo, seo boosting, website seo, website, site, product, design, 
      user experience, online presence, physical product, digital product`}
    />
    <meta property="og:locale" content="en" />
    <meta property="og:image:alt" content={title} />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <style is:global>
      *,
      *:focus {
        outline: none !important;
      }
    </style>
  </head>

  <body class="max-w-7xl m-auto text-secondary-800 text-lg relative">
    <Navbar />

    <main>
      <slot />
    </main>
  </body>
</html>
