---
import Layout from "./Layout.astro"
import Footer from "../components/nav/Footer.astro"
import Navbar from "../components/nav/Navbar.astro"
import type { Language, NavbarTranslation } from "../translations"

export interface Props {
  title: string
  description: string
  lang: Language
  navbarTranslation: NavbarTranslation
}

const { lang, title, description, navbarTranslation } = Astro.props
---

<Layout lang={lang} title={title} description={description}>
  <Navbar lang={lang} t={navbarTranslation} />

  <main>
    <slot />
  </main>

  <Footer />
</Layout>
